# Unit test executables
unittests
unittests_d

# Doxygen folders
html
latex

# vim swap and backup files
*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
